SESSION_SECRET=cyber-casters-dev-secret
ADMIN1_USER=yilin
ADMIN1_PASS=vo04HMlq1DhP2v
ADMIN2_USER=jiawen
ADMIN2_PASS=yUoFhZEMSus9Qb
ADMIN3_USER=qiren
ADMIN3_PASS=nPFrJS7G3nbH6t
PUBLIC_BASE=http://localhost:3000
# COOKIE_SECURE=0
# DISABLE_DEMO=0
# WECHAT_APP_ID=
# WECHAT_APP_SECRET=
# DATA_DIR=
# PORT=3000
# NODE_ENV=development
